:root {
  --accent-color: rgb(0, 87, 183);
  --secondary-color: rgba(255, 215, 0, 0.5);
  --hover-transition: 0.7s;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  /* --opacity: 85%; */
}

.centered {
  text-align: center;
}

.blocked {
  width: 70%;
  margin: auto;
}

.bold {
  font-weight: bold;
}

body {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Dancing Script", cursive;
}

p {
  font-size: 21px;
}

body {
  width: 80%;
  margin: 20px auto;
}

ul {
  list-style: none;
}

li {
  margin: 15px;
}

p {
  margin: 0;
  opacity: 0.8;
}

h1 {
  margin: 30px 0;
  font-size: 70px;
  font-weight: 500;
  text-align: center;
}

img {
  margin: 15px;
  box-shadow: var(--box-shadow);
  width: 80%;
  height: auto;
  padding: 20px;
  border: 1px grey;
  border-radius: 7px;
}

footer {
  font-size: 10px;
  text-align: center;
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: #aa5607;
}

a:hover {
  color: #aa5607;
}

.logo {
  font-size: 25px;
  font-family: "Dancing Script", cursive;
}

/* index page */
.index-button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 15px 30px;
  border-radius: 7px;
  margin: 25px 30px;
  background-color: rgb(255, 189, 23);
  font-size: 35px;
  font-family: "Dancing Script", cursive;
  color: white;
  transition: 0.7s;
  box-shadow: var(--box-shadow);
}

.index-button:hover {
  text-decoration: none;
  background-color: rgba(255, 189, 23, 0.5);
  color: #aa5607;
  border: #aa5607;
}

/* photo page */
ol {
  list-style-type: upper-roman;
  text-align: justify;
  width: 70%;
  margin: auto;
}

li p {
  font-size: 15px;
}
/* contact page */
ul li {
  margin: 30px;
}

li p a {
  font-size: 13px;
}

li p a:visited {
  color: rgba(0, 0, 0, 0.3);
}
